<div class="about">
    <p>
        Hey! Welcome to my website!
    </p>
    <p>
        Badminton is a super-ultra-mega-hyper-exciting sport, which is very accessible.
    </p>
    <p>
        I, in particular, have been with this sport for 6 years, and although my skills still suck, I've had a lot of <i>fun</i> and a lot of <i>friends</i>. That's the matter.
    </p>
    <p>
        Question that everybody asked the most is: "What is the <b>perfect racket</b> for me?".
    </p>
    <p>
        Obviously that question won't have the answer. But for those who are really into this sport like me, rackets are 50% of what makes this sport <i>fun</i>. (The other 50% is your friends, <i>duh</i>) 
    </p>
    <p>
        Therefore, this website is for fulfilling my "obsession" with badminton, especially with rackets.
    </p>
    <p>
        I will share my opinions about rackets that I have, or had the chance to play with it.
    </p>
    <p>
        To find the <i><b>ultimate answer</b></i> (lol).
    </p>
    <p>
        I hope that this place will help you too. Any feedbacks are invaluable.
    </p>
    <p>
        Thanks for visiting here!
    </p>
</div>