<app-errors *ngIf="error" class="error" [error]="error" [componentName]="componentName"></app-errors>
<div id="rackets-search">
    <div class="border">
        <h2>Filter Section</h2>

        <!-- Name -->
        <section>
            <label for="name">Search by name: </label>
            <input id="name" />
        </section>

        <!-- More filter options -->
        <button 
            class="advance-button"
            (click)="advance()"
            [style.background-color]="isAdvance ? '#FF033E' : ''"
        >{{ advanceName }}</button>

        <div *ngIf="isAdvance">
            <form [formGroup]="filterForm" (ngSubmit)="onSubmit()">
                <!-- Brand -->
                <section>
                    <label *ngIf="filterRackets.length === 0">(No brand to show)</label>
                    <label *ngIf="filterRackets.length !== 0" for="brand">Brand: </label>
                    <ul *ngFor="let brand of brandsList">
                        <li>
                            <input
                                type="checkbox"
                                id="{{brand}}"
                                [value]="brand"
                                (change)="onCheckBrand($event)"
                            ><label for="{{brand}}"> {{brand}}</label>
                        </li>
                    </ul>
                </section>

                <!-- Shaft Flex -->
                <section>
                    <label for="shaftFlex">Shaft Flexibility: </label>
                    <ul *ngFor="let shaftAttr of shaftFlexList">
                        <li>
                            <input
                                type="checkbox"
                                id="{{shaftAttr.shaftId}}"
                                [value]="shaftAttr.shaftAttr"
                                (change)="onCheckShaft($event)"
                            ><label for="{{shaftAttr.shaftId}}"> {{shaftAttr.shaftAttr}}</label>
                        </li>
                    </ul>
                </section>

                <!-- Sort / Descending -->
                <section>
                    <label for="sortBy">Sort By: </label>
                    <ul id="sortBy" *ngFor="let sortItem of sortByList">
                        <li>
                            <input
                                type="radio"
                                id="{{sortItem.sortId}}"
                                name="sortBy"
                                [value]="sortItem.sortVal"
                                (change)="onRadioSort($event)"
                                [checked]="sortItem.sortId === 0"
                            ><label for="{{sortItem.sortId}}"> {{sortItem.sortAttr}}</label>
                        </li>
                    </ul>
                    <input
                        type="checkbox"
                        id="descend"
                        name="descend"
                        (change)="onCheckDescend($event)"
                        [disabled]="sortIsNone()"
                        checked
                    ><label for="descend"> Descend</label>
                </section>

                <!-- Submit -->
                <button type="submit">Set</button>
            </form>
        </div>

    </div>

    <div class="list">
        <app-rackets-list 
            [rackets]="filterRackets"
            [error]="error"
        ></app-rackets-list>
    </div>
</div>