<div *ngIf="racket" class="rackets-detail">
    <h2>{{racket.name | uppercase}}</h2>
    <img src="{{ '../assets/racket-img/' + racket.imgPath}}" alt="">

    <div class="text-block">
        <div class="key">
            <h4>ID</h4>
        </div> {{racket.id}}
        <div class="key">
            <h4>Price</h4>
        </div> {{racket.price}} $
        <div class="key">
            <h4>Length</h4>
        </div> {{racket.length}} mm
        <div class="key">
            <h4>Shaft Flexibility</h4>
        </div> {{racket.shaftFlex}}
        <div class="key">
            <h4>Weight</h4>
        </div> {{racket.weight}}
        <div class="key">
            <h4>String Tension</h4>
        </div> {{racket.tension}} lbs
    </div>

    <div class="racket-review">
        <section>
            {{racket.review}}
        </section>
    </div>

    <div class="button-block">
        <button id="back" type="button" (click)="goBack()">Back</button>
        <button id="delete" type="button" class="delete" (click)="delete(racket)">DELETE</button>
    </div>
</div>