.page-not-found {
    display: block;
    margin: auto;

    text-align: center;
}

h2 {
    margin: 20px 0;
}

p {
    margin-bottom: 20px;
}

button {
    width: 100px;
    height: 40px;

    border-radius: 5px;

    font-weight: bold;
    background-color: lightcyan;
}