.list {
    max-width: 70%;
}

.rackets-list {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

.rackets-list-item {
    text-align: left;
    font-size: 17px;

    padding-left: 10px;

    display: block;
    width: 250px;
    margin: 5px 0;

    background-color: white;

    border: 2px solid black;
    border-radius: 4px;

    cursor: pointer;

    &:hover {
        border: 2px solid red;
        color: red;
    }
}

span {
    width: 100%;
}