<!-- Search box is filled -->
<div *ngIf="!check">
    <ul class="rackets-list">
        <li *ngFor="let racket of rackets">
            <button class="rackets-list-item">
                <a routerLink="/detail/{{racket.id}}">
                    {{racket.name}}
                </a>
            </button>
        </li>
    </ul>
</div>

<!-- Init list when load -->
<div *ngIf="check">
    <ul class="rackets-list">
        <li *ngFor="let racket of fullRacketList">
            <button class="rackets-list-item" routerLink="/detail/{{racket.id}}">
                {{racket.name}}
            </button>
        </li>
    </ul>
</div>