@use '../../../base';

@media screen and (max-width: 675px) {
    h2 {
        text-align: center;
    }
}

.top-nav {
    background-color: base.$c2;

    border-bottom: 2px solid black;

    /* grid */
    display: grid;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(338px, 1fr));
}

h2 {
    cursor: pointer;
    padding: 10px 0px 0px 10px;
    font-weight: bold;
}

#top-nav-link {
    /* flex */
    display: flex;
    justify-content: center;
}

#nav {
    padding: 20px 10px;

    text-align: center;
    text-decoration: none;
    font-size: 15px;
    color: black;

    &:hover {
        background-color: black;
        color: white;
    }
}

h2 a {
    font-size: 24px;
    text-decoration: none;
    color: black;
}