<div class="border">
    <h2>Add a Racket</h2>
    <form class="add-form" [formGroup]="racketForm" (ngSubmit)="onSubmit()">
        <!-- Name -->
        <div class="form-control">
            <label for="name">Name: </label>
            <!-- Validators -->
            <div class="validators" *ngIf="racketForm.get('name')?.invalid && racketForm.get('name')?.touched">
                <div *ngIf="racketForm.get('name')?.errors?.['required']">Required.</div>
            </div>
            <input type="text" id="name" formControlName="name" placeholder="ex. Arcsaber 11 Pro">
        </div>
        
        <!-- Brand -->
        <div class="form-control">
            <label for="brand">Brand: </label>
            <!-- Validators -->
            <div class="validators" *ngIf="racketForm.get('brand')?.invalid && racketForm.get('brand')?.touched">
                <div *ngIf="racketForm.get('brand')?.errors?.['required']">Required.</div>
            </div>
            <input type="text" id="brand" formControlName="brand" placeholder="ex. Yonex">
        </div>

        <!-- Price -->
        <div class="form-control">
            <label for="price">Price: </label>
            <!-- Validators -->
            <div class="validators"*ngIf="racketForm.get('price')?.invalid && racketForm.get('price')?.touched">
                <div *ngIf="racketForm.get('price')?.errors?.['required']">Required.</div>
                <div *ngIf="racketForm.get('price')?.errors?.['pattern']">Only accepts decimal number.</div>
            </div>
            <input type="text" id="price" formControlName="price" placeholder="ex. 299.99">
        </div>

        <!-- Length -->
        <div class="form-control">
            <label for="length">Length: </label>
            <!-- Validators -->
            <div class="validators" *ngIf="racketForm.get('length')?.invalid && racketForm.get('length')?.touched">
                <div *ngIf="racketForm.get('length')?.errors?.['required']">Required.</div>
                <div *ngIf="racketForm.get('length')?.errors?.['pattern']">Only accepts number.</div>
            </div>
            <input type="text" id="length" formControlName="length" placeholder="(400 - 680 mm)">
        </div>

        <!-- Balance Point -->
        <div class="form-control">
            <label for="balancePoint">Balance Point: </label>
            <!-- Validators -->
            <div class="validators" *ngIf="racketForm.get('balancePoint')?.invalid && racketForm.get('balancePoint')?.touched">
                <div *ngIf="racketForm.get('balancePoint')?.errors?.['required']">Required.</div>
                <div *ngIf="racketForm.get('balancePoint')?.errors?.['pattern']">Only accepts number.</div>
            </div>
            <input type="text" id="balancePoint" formControlName="balancePoint" placeholder="(250 - 350 mm)">
        </div>

        <!-- Shaft Flexibility -->
        <div class="form-control">
            <label for="shaftFlex">Shaft Flexibility: </label>
            <!-- Validators -->
            <div class="validators" *ngIf="racketForm.get('shaftFlex')?.invalid && racketForm.get('shaftFlex')?.touched">
                <div *ngIf="racketForm.get('shaftFlex')?.errors?.['required']">Required.</div>
            </div>
            <input type="text" id="shaftFlex" formControlName="shaftFlex" placeholder="ex. Extra Stiff">
        </div>

        <!-- Weight -->
        <div class="form-control">
            <label for="weight">Weight: </label>
            <!-- Validators -->
            <div class="validators" *ngIf="racketForm.get('weight')?.invalid && racketForm.get('weight')?.touched">
                <div *ngIf="racketForm.get('weight')?.errors?.['required']">Required.</div>
            </div>
            <input type="text" id="weight" formControlName="weight" placeholder="ex. 3U">
        </div>

        <!-- String Tension -->
        <div class="form-control">
            <label for="tension">String Tension: </label>
            <!-- Validators -->
            <div class="validators" *ngIf="racketForm.get('tension')?.invalid && racketForm.get('tension')?.touched">
                <div *ngIf="racketForm.get('tension')?.errors?.['required']">Required.</div>
                <div *ngIf="racketForm.get('tension')?.errors?.['pattern']">Only accepts number.</div>
            </div>
            <input type="text" id="tension" formControlName="tension" placeholder="(10 - 50 lbs)">
        </div>

        <!-- Image Path -->
        <div class="form-control">
            <label for="imgPath">Image Name: </label>
            <!-- Validators -->
            <div class="validators" *ngIf="racketForm.get('imgPath')?.invalid && racketForm.get('imgPath')?.touched">
                <div *ngIf="racketForm.get('imgPath')?.errors?.['required']">Required.</div>
            </div>
            <input type="text" id="imgPath" formControlName="imgPath" placeholder="ex. arcsaber-11-pro.webp">
        </div>

        <!-- Review -->
        <div class="form-control">
            <label for="text">Review: </label>
            <!-- Validators -->
            <div class="validators" *ngIf="racketForm.get('review')?.invalid && racketForm.get('review')?.touched">
                <div *ngIf="racketForm.get('review')?.errors?.['required']">Required.</div>
            </div>
            <textarea
                type="text"
                id="review"
                formControlName="review"
                placeholder="ex. I love this racket!"
            ></textarea>
        </div>
        
        <!-- Submit button -->
        <input type="submit" [disabled]="racketForm.invalid" value="Save">
        <!-- <button type="submit" [disabled]="racketForm.invalid">Submit</button> -->
    </form>
</div>