<div class="specs">
    <p>
        Hey! You've found me!
    </p>
    <p>
        Since you're here, I will explain racket specs that I included in the rackets.
    </p>

    <p>
        <b><i>ID</i></b> : Just an ID assigned to differentiate each rackets. 
    </p>

    <p>
        <b><i>Name</i></b> : Uhm... name of the racket?
    </p>

    <p>
        <b><i>Brand</i></b> : Manufacturer that produces the racket.
    </p>

    <p>
        <b><i>Price</i></b> : A reference price point. Not very accurate, just for visulizing how expensive the racket is.
    </p>

    <p>
        <b><i>Length</i></b> : Total length, from the head frame to the bottom of the handle.
    </p>

    <p>
        <b><i>Balance Point</i></b> : Vaguely show what type of the racket is.
    </p>
        <ul>
            <li>Smaller than 285 mm: Fast racket, more about defending, fast reaction.</li>
            <li>285 mm - 290 mm: Even balance racket, everything in between.</li>
            <li>290 mm - 300 mm: Power racket, more about powerful, imtimidating shots.</li>
            <li>Larger than 300 mm: Extra-Power racket, very powerful shots.</li>
        </ul>

    <p>
        <b><i>Shaft Flexibility</i></b> : How stiff (flex) the shaft of the racket is.
    </p>
        <ul>
            <li>The stiffer the racket, the more accurate the shots are.</li>
            <li>The flex-er (?) the racket, the more power the shots are.</li>
        </ul>
    <p>
        <b><i>Weight</i></b> :
    </p>
        <ul>
            <li>3U: 86 - 90g</li>
            <li>4U: 80 - 85g</li>
            <li>5U: 76 - 79g</li>
            <li>Smaller than 5U: Less than 76g</li>
        </ul>
    <p>
        <b><i>String tension</i></b> : Maximum string tension that the racket can hold. If exceed, the racket will be more likely to break.
    </p>
</div>