<div class="specs">
    <p>
        This page will explain the specs listed with each racket.
    </p>

    <p>
        <b><i>ID</i></b> : An ID assigned to differentiate each rackets. This ID is fixed. 
    </p>

    <p>
        <b><i>Name</i></b> : Name of the racket.
    </p>

    <p>
        <b><i>Brand</i></b> : Manufacturer that produces the racket.
    </p>

    <p>
        <b><i>Price</i></b> : A reference price point (no up-to-date, vary by regions) only for knowning price bracket.
    </p>

    <p>
        <b><i>Length</i></b> : Total length, from the head frame to the bottom of the handle.
    </p>

    <p>
        <b><i>Balance Point</i></b> : Vaguely show what type of the racket is.
    </p>
        <ul>
            <li>Smaller than 285 mm: Fast racket, more about defending, fast reaction.</li>
            <li>285 mm - 290 mm: Even balance racket, everything in between.</li>
            <li>290 mm - 300 mm: Power racket, more about powerful, imtimidating shots.</li>
            <li>Larger than 300 mm: Extra-Power racket, very powerful shots.</li>
        </ul>

    <p>
        <b><i>Shaft Flexibility</i></b> : How stiff (flex) the shaft of the racket is.
    </p>
        <ul>
            <li>Stiff: More precision. Less power, require proper techniques. (more injury prone)</li>
            <li>Flex: More power, more forgiving (less injury prone). Less accuracy.</li>
        </ul>
    <p>
        <b><i>Weight</i></b> : Lighter -> Speed ; Heavier -> Power
    </p>
        <ul>
            <li>3U: 86 - 90g</li>
            <li>4U: 80 - 85g</li>
            <li>5U: 76 - 79g</li>
            <li>Smaller than 5U: Less than 76g</li>
        </ul>
    <p>
        <b><i>String tension</i></b> : Maximum string tension that the racket can hold. If exceed, the racket will be more likely to break.
    </p>
</div>